@model _Morafiq.Models.Companion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Companion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanionPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanionPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanionQuantityStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanionQuantityStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanionSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanionSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CompanionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
