@model User
@{
	ViewData["Title"] = "Home Page";
}
<!-- Hero Section Begin -->
<section class="hero">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="hero__categories">
					<div class="hero__categories__all">
						<i class="fa fa-bars"></i>
						<span>All Services</span>
					</div>
					<ul>
						@foreach (var item in ViewBag.Services)
						{
							<li>
								<a
									href="/Shop/Service?id=@item.ServiceId&selectedService=item.ServiceName">@item.ServiceName</a>
							</li>
						}
					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="hero__item set-bg" data-setbg="https://images.squarespace-cdn.com/content/v1/5801005046c3c4db81482439/1480996365819-6XOM93S2JBTBEBUVOPRQ/image-asset.jpeg">
					<div class="hero__text" >
						<span>Smart Phone</span>
						<h2>Phones <br />100% Original</h2>
						<p>Experience seamless convenience with our hassle-free delivery options</p>
						<a href="/Shop/Index" class="primary-btn">Order NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
	<div class="container">
		<div class="row">
			<div class="categories__slider owl-carousel">
				@foreach (var item in ViewBag.Services)
				{
						<a href="/Shop/Service?id=@item.ServiceId">
					<div class="col-lg-3">
							@{
								string imageBase64 = Convert.ToBase64String(item.Image);
							}
						<img class="categories__item set-bg" src="data:image;base64,@imageBase64">
						<h5 class="text-center">@item.ServiceName</h5>
					</div>
					</a>
				}
			</div>
		</div>
	</div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Featured Companion</h2>
				</div>
				<div class="featured__controls">
					<ul>
						<li class="@(ViewBag.SelectedService == null ? " active" : "" )" data-filter="*">All</li>
						@foreach (var Service in ViewBag.Services)
						{
							<li data-filter=".@Service.ServiceName.ToLower()">
								@Service.ServiceName
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
		<div class="row featured__filter">
			@foreach (var Companion in ((List<Companion>)ViewBag.Companions))
			{
				var ServiceId = Companion.ServiceId;
				short CompanionCounter = 5;
				if (CompanionCounter == 0)
				{
					break;
				}
				// Check if the Companion belongs to the selected Service
				if (ViewBag.SelectedService == null || ServiceId == ViewBag.SelectedService)
				{
					CompanionCounter--;
					<div class="col-lg-3 col-md-4 col-sm-6 mix @Companion.Service.ServiceName.ToLower()">
							<div class="featured__item">
							@{
								string imageBase64 = Convert.ToBase64String(Companion.Image);
							}
									<a asp-controller="Shop" asp-action="CompanionDetails"
							   asp-route-id="@Companion.CompanionId">
								<div class="featured__item__pic set-bg">
									<img src="data:image;base64,@imageBase64">
								</div>
								<div class="featured__item__text">
									<h6>
										@Companion.CompanionName
									</h6>
									@if (Companion.CompanionSale > 0)
									{
										<h5>@Companion.CompanionPrice JD</h5>
										int sale = (int)Companion.CompanionSale;
										<p class="text-danger">On Sale! Save @sale%!</p>
									}
									else
									{
										<h5>@Companion.CompanionPrice JD</h5>
									}</a>
								</div>
							</div>
					@* </div> *@
				}
			}
		</div>

	</div>
</section>
<!-- Featured Section End -->
<!-- Latest Companion Section Begin -->
<section class="latest-Companion spad" style="padding-top: 0px;">
	<div class="section-title">
		<h2>Sale</h2>
	</div>
	<div class="container">
		<div class="row">
			@{
				int c = 0;
			}
			@foreach (var Service in (List<Service>)(ViewBag.Services))
			{
				c++;
					<div class="col-lg-4 col-md-6">
						<div class="latest-Companion__text">
						<h4>@Service.ServiceName Sales</h4>
							<div class="latest-Companion__slider owl-carousel">
							@for (int i = 1; i < 3; i++)
							{
								<div class="latest-prdouct__slider__item">
									@if (i == 1)
									{
										@foreach (var Companion in Service.Companions.Where(p => p.CompanionSale >
												0).Take(3).ToList())
										{
											string imageBase64 = Convert.ToBase64String(Companion.Image);
												<a asp-controller="Shop" asp-action="CompanionDetails" asp-route-id="@Companion.CompanionId"
													class="latest-Companion__item">
													<div class="latest-Companion__item__pic">
														<img src="data:image;base64,@imageBase64">
													</div>
													<div class="latest-Companion__item__text">
													<h6>@Companion.CompanionName</h6>
													@{
														decimal price = @Companion.CompanionPrice - (@Companion.CompanionPrice *
														@Companion.CompanionSale / 100);
													}
														<span>
														@price JD<br />
														<del style="color:gray; font-weight:300">@Companion.CompanionPrice JD</del>
														</span>
													</div>
												</a>
										}
									}
									else
									{
										@foreach (var Companion in Service.Companions.Where(p => p.CompanionSale >
												0).Skip(3).ToList())
										{
											string imageBase64 = Convert.ToBase64String(Companion.Image);
												<a asp-controller="Shop" asp-action="CompanionDetails" asp-route-id="@Companion.CompanionId"
													class="latest-Companion__item">
													<div class="latest-Companion__item__pic">
														<img src="data:image;base64,@imageBase64">
													</div>
													<div class="latest-Companion__item__text">
														<h6>@Companion.CompanionName</h6>
													@{
														decimal price = @Companion.CompanionPrice - (@Companion.CompanionPrice /
														@Companion.CompanionSale);
														price = Math.Round(price, 2);
													}
														<span>
														@price JD<br />
															<del style="color:gray; font-weight:300">@Companion.CompanionPrice JD</del>
														</span>
													</div>
												</a>
										}
									}
								</div>
							}
						</div>
					</div>
			</div>
				if (c == 3)
					break;
			}
	</div>
	</div>
</section>
<!-- TESTIMONIALS -->
<section class="categories">
	<div class="section-title">
		<h2 style="margin-top: 25px;">What Our Fans Are Saying</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="categories__slider owl-carousel">
				@foreach (var testimonial in (List<Testimonial>)(ViewBag.Testimonials))
				{
						<div class="col-lg-3" style="    display: flex;flex-direction: column;align-items: center;">
						@{
							string imageBase64 = Convert.ToBase64String(testimonial.User.Image);
						}
							<img src="data:image;base64,@imageBase64" style="width: 30%;border-radius: 50px;margin-bottom: 20px;">
							<p class="testimonial-body text-center">
								"@testimonial.TestimonialMessage ."
							</p>
						</div>
				}
			</div>
		</div>
	</div>
</section>
