@model User
@{
	ViewData["Title"] = "Home Page";

}
<!-- Hero Section Begin -->
<section class="hero">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="hero__categories">
					<div class="hero__categories__all">
						<i class="fa fa-bars"></i>
						<span>All Services</span>
					</div>
					<ul>
						@foreach (var item in ViewBag.Services)
						{
							<li>
								<a href="/Shop/Service?id=@item.ServiceId&selectedService=item.ServiceName">@item.ServiceName</a>
							</li>
						}
					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="hero__item set-bg" data-setbg="https://st4.depositphotos.com/16122460/21054/i/450/depositphotos_210540818-stock-photo-helping-hands-blurred-background-closeup.jpg">
					<div class="hero__text">
						<span>Morafiq</span>
						<h2>Connecting families with<br />quality, local companions</h2>
						<p>Explore profiles and read what other families have to say about companions.</p>
						<a href="/Shop/Index" class="primary-btn" style="color:white">Find Companion Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>
						Hi @(User.Identity.Name == null ? "" : Html.DisplayFor(model => model.FirstName)),
						What kind of care do you need?
					</h2>
				</div>
				<div class="categories__slider owl-carousel">
					@foreach (var item in ViewBag.Services)
					{

						<div class="col-lg-3">
							@{
								string imageBase64 = Convert.ToBase64String(item.Image);
							}
							<div class="categories__item set-bg" data-setbg="data:image;base64,@imageBase64">
								@* <img class="categories__item set-bg" src="data:image;base64,@imageBase64"> *@
								<h5><a href="/Shop/Service?id=@item.ServiceId">@item.ServiceName</a></h5>
							</div>
						</div>

					}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Featured Companions</h2>
				</div>
				<div class="featured__controls">
					<ul>
						<li class="@(ViewBag.SelectedService == null ? " active" : "" )" data-filter="*">All</li>
						@foreach (var Service in ViewBag.Services)
						{
							string[] words = Service.ServiceName.Split(' ');
							<li data-filter=".@words[0]">
								@Service.ServiceName
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
		<div class="row featured__filter">
			@foreach (var Companion in ((List<Companion>)ViewBag.Companions))
			{
				var ServiceId = Companion.ServiceId;
				short CompanionCounter = 5;
				if (CompanionCounter == 0)
				{
					break;
				}
				// Check if the Companion belongs to the selected Service
				if (ViewBag.SelectedService == null || ServiceId == ViewBag.SelectedService)
				{
					CompanionCounter--;
					string[] words = Companion.Service.ServiceName.Split(' ');
					<div class="col-lg-3 col-md-4 col-sm-6 mix @words[0]">
						<div class="featured__item">
							@{
								string imageBase64 = Convert.ToBase64String(Companion.Image);
							}
							<a asp-controller="Shop" asp-action="CompanionDetails"
							   asp-route-id="@Companion.CompanionId">
								<div class="featured__item__pic set-bg">
									<img src="data:image;base64,@imageBase64">
								</div>
								<div class="featured__item__text">
									<h6>
										@Companion.CompanionName
									</h6>
									@if (Companion.CompanionSale > 0)
									{
										<h5>@Companion.CompanionPrice JD</h5>
										int sale = (int)Companion.CompanionSale;
										<p class="text-danger">On Sale! Save @sale%!</p>
									}
									else
									{
										<h5>@Companion.CompanionPrice JD</h5>
									}
								</div>
							</a>
						</div>
					</div>
					@* </div> *@
				}
			}
		</div>

	</div>
</section>
<!-- Featured Section End -->
<!-- Latest Companion Section Begin -->
<section class="latest-product spad" style="padding-top: 0px;">
	<div class="section-title">
		<h2>Top Reviewed Companions</h2>
	</div>
	<div class="container">
		<div class="row">
			@{
				int c = 0;
			}
			@foreach (var Service in (List<Service>)(ViewBag.Services))
			{
				c++;
				<div class="col-lg-4 col-md-6">
					<div class="latest-product__text">
						<h4>@Service.ServiceName</h4>
						<div class="latest-product__slider owl-carousel">

							

								@foreach (var Companion in Service.Companions.ToList())
								{
								<div class="latest-prdouct__slider__item">
									@foreach (var review in ((List<Review>)ViewBag.Reviews).Where(r => r.ReviewRate >= 4))
									{
										@if (review.CompanionId == Companion.CompanionId)
										{

											string imageBase64 = Convert.ToBase64String(Companion.Image);
											<a asp-controller="Shop" asp-action="CompanionDetails" asp-route-id="@Companion.CompanionId"
											   class="latest-product__item">
												<div class="latest-product__item__pic">
													<img src="data:image;base64,@imageBase64">
												</div>
												<div class="latest-product__item__text">
													<h6>@Companion.CompanionName</h6>

													<span style="color:gold;">
														(@review.ReviewRate) of 5 starz
													</span>
												</div>
											</a>
											break;
										}
									}
								</div>
								}


							

						</div>
					</div>
				</div>
				if (c == 3)
					break;
			}
		</div>
	</div>
</section>

