@using Newtonsoft.Json
@model _Morafiq.Models.Companion
@{
	ViewData["Title"] = "CompanionDetails";
}
@{
	TimeSpan Period = new TimeSpan();
	foreach (var Schedule in ((List<CompanionSchedule>)ViewBag.CompanionSchedules))
	{
		Period += Schedule.EndDate - Schedule.StartDate;

	}

}
<style>
	.rate {
		float: left;
		height: 46px;
		padding: 0 -5px;
	}

		.rate:not(:checked) > input {
			position: absolute;
			top: -9999px;
		}

		.rate:not(:checked) > label {
			float: right;
			width: 1em;
			overflow: hidden;
			white-space: nowrap;
			cursor: pointer;
			font-size: 30px;
			color: #ccc;
		}

			.rate:not(:checked) > label:before {
				content: '★ ';
			}

		.rate > input:checked ~ label {
			color: #ffc700;
		}

		.rate:not(:checked) > label:hover,
		.rate:not(:checked) > label:hover ~ label {
			color: #deb217;
		}

		.rate > input:checked + label:hover,
		.rate > input:checked + label:hover ~ label,
		.rate > input:checked ~ label:hover,
		.rate > input:checked ~ label:hover ~ label,
		.rate > label:hover ~ input:checked ~ label {
			color: #c59b08;
		}
</style>
<section class="product-details spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="product__details__pic">
					<div class="product__details__pic__item">
						@{
							string imageBase64 = Convert.ToBase64String(Model.Image);
						}
						<img class="product__details__pic__item--large" src="data:image;base64,@imageBase64" alt="">
					</div>
					<div class="product__details__pic__slider owl-carousel">
						@* @foreach (var item in ViewBag.ProductImages)
						{
						string imageBase = Convert.ToBase64String(item.Image);
						<img data-imgbigurl="data:image;base64,@imageBase" src="data:image;base64,@imageBase" alt="">
						} *@
					</div>
				</div>

			</div>
			<div class="col-lg-6 col-md-6">
				<div class="product__details__text">
					<h3>@Model.CompanionName</h3>
					<div class="product__details__rating">

						@if (@ViewBag.Reviews.Count != 0)
						{
							int avgRate = 0;
							foreach (var review in ViewBag.Reviews)
							{
								avgRate += review.ReviewRate;
							}
							avgRate = avgRate / ViewBag.Reviews.Count;
							for (int i = 0; i < avgRate; i++)
							{
								<i class="fa fa-star" style="color: #ffc700;"></i>
							}
						}

						<span>@ViewBag.Reviews.Count Reviews</span>
					</div>
					<div class="product__details__price">@Model.CompanionPrice JD</div>
					<p>@Model.CompanionDescription</p>

					<ul>
						@if (((List<CompanionSchedule>)ViewBag.CompanionSchedules).Count > 0)
						{
							<li>
								<b style="color:darkred">Not Available in :</b><br />
								@{
									foreach (var Schedule in ((List<CompanionSchedule>)ViewBag.CompanionSchedules))
									{
										if (Schedule.EndDate > DateTime.Now)
										{
											<span>
												From @Schedule.StartDate.ToString("yyyy-MM-dd") to @Schedule.EndDate.ToString("yyyy-MM-dd") ,<br />
											</span>
										}

									}
								}
							</li>
						}


					</ul>

				</div>
			</div>
			<div class="col-lg-12">
				<div class="product__details__tab">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
							   aria-selected="true">Description</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">
								Reviews
								<span>@ViewBag.Reviews.Count</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
							   aria-selected="false">Order</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tabs-1" role="tabpanel">
							<div class="product__details__tab__desc">
								<h6>Products Infomation</h6>
								<p>@Model.CompanionDescription</p>
							</div>
						</div>
						<div class="tab-pane" id="tabs-3" role="tabpanel">
							<div class="product__details__tab__desc">
								<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
									<div class="row">
										<div class="col-lg-6">

											<div class="review_list">
												@if (ViewBag.Reviews.Count > 0)
												{
													IEnumerable<Review> reviews = ViewBag.Reviews as IEnumerable<Review>;
													var lastThreeReviews = reviews.Skip(Math.Max(0, reviews.Count() - 3));
													foreach (var item in lastThreeReviews)
													{
														<div class="review_item">
															<div class="media">
																<div class="d-flex">
																	<img src="img/product/single-product/review-3.png" alt="" />
																</div>
																<div class="media-body ">
																	<h4>@item.User.FirstName</h4>
																	<div class="product__details__rating">
																		@for (int i = 0; i < item.ReviewRate; i++)
																		{
																			<i class="fa fa-star" style="color: #ffc700;"></i>
																		}
																	</div>
																</div>
															</div>
															<p>
																@item.ReviewMessage
															</p>
															<p>
																@item.ReviewDate.ToString("dd MMMM yyyy")
															</p>
														</div>

													}
												}
												else
												{
													<h4>No Reviews</h4>
												}
											</div>
										</div>

										<div class="col-lg-6">
											<div class="review_box">
												<h4>Add a Review</h4>
												<form class="row contact_form" asp-controller="Reviews"
													  asp-action="Create_" asp-route-id="@Model.CompanionId" method="post">
													<div style="    display: flex; align-items: center;">
														<p style="margin: 0 0 1px 18px;">Your Rating: &nbsp;&nbsp;&nbsp;</p>
														<div class="rate">
															<input type="radio" id="star5" name="ReviewRate" value="5" />
															<label for="star5" title="text">5 stars</label>
															<input type="radio" id="star4" name="ReviewRate" value="4" />
															<label for="star4" title="text">4 stars</label>
															<input type="radio" id="star3" name="ReviewRate" value="3" />
															<label for="star3" title="text">3 stars</label>
															<input type="radio" id="star2" name="ReviewRate" value="2" />
															<label for="star2" title="text">2 stars</label>
															<input type="radio" id="star1" name="ReviewRate" value="1" />
															<label for="star1" title="text">1 star</label>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<textarea class="form-control" name="ReviewMessage" id="message" rows="6"
																	  placeholder="Review"></textarea>
														</div>
													</div>
													<div class="col-md-12 text-right">
														<button type="submit" value="submit" class="site-btn">
															Submit Now
														</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tabs-2" role="tabpanel">
							<div class="product__details__tab__desc">
								<h4>Add an Order</h4>
								<div class="tab-pane active" id="tab2" role="tabpanel" aria-labelledby="review-tab">
									<form asp-controller="CartCompanions"
										  asp-action="Create_" asp-route-id="@Model.CompanionId">
										<div class="row">

											<div class="col-lg-6">
												<div class="review_box">
													<div class="col-md-12">
														<div style="display:none;" class="product__details__quantity">
															<div class="quantity">
																<div class="pro-qty">
																	<input type="hidden" name="quantity" min="0" max="@Model.CompanionQuantityStock" value="0">
																</div>
															</div>
														</div>
														<!-- Date Picker Input -->
														<div class="form-group">
															<label for="datepicker">Select Start Date:</label>
															<input type="text" class="form-control" id="datepicker" name="selectedStartDate" autocomplete="off">
															<span class="text-danger" id="selectedStartDateError"></span>
														</div>

														<!-- Date Picker Input -->
														<div class="form-group">
															<label for="datepicker2">Select End Date:</label>
															<input type="text" class="form-control" id="datepicker2" name="selectedEndDate" autocomplete="off">
															<span class="text-danger" id="selectedEndDateError"></span>
														</div>


													</div>
												</div>

											</div>

											<div class="col-lg-6">
												<div class="col-md-12">
													<div class="form-group">
														<textarea class="form-control" id="description" name="description" rows="6" placeholder="Description"></textarea>
													</div>
												</div>
												<div class="col-md-12 text-right">
													<button class="site-btn" id="addToCartBtn">Order Now</button>
												</div>
											</div>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="related-product">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title related__product__title">
					<h2>Related Companions</h2>
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var Companion in ViewBag.Companions)
			{
				@if (Companion.ServiceId == Model.ServiceId && Companion.CompanionId != Model.CompanionId)
				{
					<div class="col-lg-4 col-md-6 col-sm-6 @Companion.Service.ServiceName.ToLower()">
						<div class="product__item">
							<div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
								@{
									string imageBase65 = Convert.ToBase64String(Companion.Image);
								}
								<img src="data:image;base64,@imageBase65">
							</div>
							<div class="product__item__text">
								<h6><a asp-route-id="@Companion.CompanionId">@Companion.CompanionName</a></h6>
								<h5>@Companion.CompanionPrice JD</h5>
							</div>
						</div>
					</div>
				}
			}

		</div>
	</div>
</section>
<script>
	// Initialize the datepicker
	$(document).ready(function () {
		$('#datepicker').datepicker({
			format: 'dd/mm/yyyy',
			startDate: '0',
			autoclose: true
		});
	});
	$(document).ready(function () {
		$('#datepicker2').datepicker({
			format: 'dd/mm/yyyy',
			startDate: '0',
			autoclose: true
		});
	});




</script>
<script>
	$(document).ready(function () {
		$("#addToCartBtn").click(function () {
			// Get the values from the form inputs
			var startDate = $("#datepicker").val();
			var endDate = $("#datepicker2").val();

			// Perform client-side validation
			var isValid = true;

			// Function to validate the date format and check if it's in the future
			function isValidDate(dateString) {
				var currentDate = new Date();
				var selectedDate = new Date(dateString);

				if (selectedDate < currentDate) {
					return false; // Date is in the past
				}

				var regex = /^\d{2}\/\d{2}\/\d{4}$/;
				return dateString.match(regex);
			}

			// Validate start date
			if (!isValidDate(startDate)) {
				$("#selectedStartDateError").text("Please enter a valid future start date.");
				isValid = false;
			} else {
				$("#selectedStartDateError").text("");
			}

			// Validate end date
			if (!isValidDate(endDate)) {
				$("#selectedEndDateError").text("Please enter a valid future end date.");
				isValid = false;
			} else {
				$("#selectedEndDateError").text("");
			}

			// Validate date range
			var start = new Date(startDate);
			var end = new Date(endDate);
			if (start > end) {
				$("#selectedEndDateError").text("End date must be greater than or equal to start date.");
				isValid = false;
			} else {
				$("#selectedEndDateError").text("");
			}

			if (!isValid) {
				// Prevent form submission if validation fails
				return false;
			}
		});
	});
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

