@model _Morafiq.Models.Service
<!-- Product Section Begin -->
<section class="product spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-5">
				<div class="sidebar">
					<div class="sidebar__item">
						<h4>Services</h4>
						<ul>
							<li><a asp-controller="Shop" asp-action="Index">All</a></li>
							@foreach (var Service in ViewBag.Services)
							{
								<li data-filter=".@Service.ServiceName.ToLower()">
									<a asp-route-id="@Service.ServiceId">@Service.ServiceName</a>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-7">
				<div class="product__discount">
					<div class="section-title product__discount__title">
						<h2>Best Companions in @Model.ServiceName</h2>
					</div>
					<div class="row">
						<div class="product__discount__slider owl-carousel">
							@* @foreach (var item in ((List<Companion>)ViewBag.Companions)
							{ *@
								@* @if (item.ServiceId == Model.ServiceId)
								{ *@
									@foreach (var review in ((List<Review>)ViewBag.Reviews).Where(r => r.Companion.ServiceId == Model.ServiceId))
									{
										@if (review.ReviewRate>=4)
										{
											<div class="col-lg-4">
												<div class="product__discount__item">
													<div class="product__discount__item__pic set-bg"
														 data-setbg="img/product/discount/pd-1.jpg">
														@{
															string imageBase64 = Convert.ToBase64String(review.Companion.Image);
														}

														<img src="data:image;base64,@imageBase64">
														<div class="product__discount__percent">@review.ReviewRate</div>
														
													</div>
													<div class="product__discount__item__text">
														<span>@review.Companion.Service.ServiceName</span>
												<h5><a asp-action="CompanionDetails" asp-route-id="@review.Companion.CompanionId">@review.Companion.CompanionName</a></h5>
													</div>
												</div>
											</div>
										}
									}
									
								@* } *@

							@* } *@

						</div>
					</div>
				</div>
				<div class="filter__item">
					<div class="row">
						<div class="col-lg-4 col-md-5">
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="filter__found">
								<h6>
									<span>
										@{
											int TotalProducts = Model.Companions != null ? Model.Companions.Count : 0;
										}
										@TotalProducts
									</span> Companions found
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-3">
						</div>
					</div>
				</div>
				<div class="row" id="productContainer">
					@foreach (var Companion in ViewBag.Companions)
					{
						var ServiceId = Companion.ServiceId;
						if (ServiceId == Model.ServiceId)
						{
							<div class="col-lg-4 col-md-6 col-sm-6 @Companion.Service.ServiceName.ToLower()">
								<div class="product__item">
									<div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
										@{
											string imageBase64 = Convert.ToBase64String(Companion.Image);
										}

										<img src="data:image;base64,@imageBase64">
									</div>
									<div class="product__item__text">
										<h6><a asp-action="CompanionDetails" asp-route-id="@Companion.CompanionId">@Companion.CompanionName</a></h6>
										<h5>@string.Format("{0:C}", Companion.CompanionPrice)</h5>
										<div class="product__details__rating">
											@{
												int avgRate = 0;}
											@if (Companion.Reviews.Count != 0)
											{
												
												foreach (var review in Companion.Reviews)
												{
													avgRate += review.ReviewRate;
												}
												avgRate = avgRate / Companion.Reviews.Count;
												for (int i = 0; i < avgRate; i++)
												{
													<i class="fa fa-star" style="color: #ffc700;"></i>
												}
											}

											<span>(@Companion.Reviews.Count)</span>
										</div>
									</div>
									
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</div>


</section>
<!-- Product Section End -->
