@model _Morafiq.Models.Service
<!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                         <div class="sidebar__item">
                            <h4>Services</h4>
                            <ul>
                                <li><a asp-controller="Shop" asp-action="Index">All</a></li>
                            @foreach (var Service in ViewBag.Services)
                            {
                                            <li data-filter=".@Service.ServiceName.ToLower()"><a asp-route-id = "@Service.ServiceId">@Service.ServiceName</a>
                                    </li>
                            }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Best Companions</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                            @foreach (var item in ViewBag.Companions)
                            {
                                @if (item.ServiceId == Model.ServiceId && item.CompanionSale > 0)
                                {
                                            <div class="col-lg-4">
                                                <div class="product__discount__item">
                                                    <div class="product__discount__item__pic set-bg"
                                                        
                                                        data-setbg="img/product/discount/pd-1.jpg">
                                                @{
                                                    string imageBase64 = Convert.ToBase64String(item.Image);
                                                }

                                                                <img src="data:image;base64,@imageBase64">
                                                <div class="product__discount__percent">@item.CompanionSale%</div>
                                                        <ul class="product__item__pic__hover">
                                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product__discount__item__text">
                                                                <span>@item.Service.ServiceName</span>
                                                <h5><a asp-action="CompanionDetails" asp-route-id="@item.CompanionId">@item.CompanionName</a></h5>
                                                @{
                                                    var priceAfterDiscount = item.CompanionPrice - (item.CompanionPrice  * item.CompanionSale/100);
                                                    
                                                }
                                                                     <div class="product__item__price">$@priceAfterDiscount <span>$@item.CompanionPrice</span></div>
                                                    </div>
                                                </div>
                                            </div>  
                                            }
                                
                                        }
                                                       
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">     
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>@{
                                            int TotalProducts = Model.Companions != null ? Model.Companions.Count : 0;
                                        }
                                        @TotalProducts
                                    </span> Companions found
                                </h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                
                            </div>
                        </div>
                    </div>
                    <div class="row" id="productContainer">
                    @foreach (var product in ViewBag.Companions)
                    {
                        var ServiceId = product.ServiceId;
                        if (ServiceId == Model.ServiceId)
                        {
                                            <div class="col-lg-4 col-md-6 col-sm-6 @product.Service.ServiceName.ToLower()">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                                        @{
                                            string imageBase64 = Convert.ToBase64String(product.Image);
                                        }

                                                        <img src="data:image;base64,@imageBase64">
                                                <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                                <h6><a asp-action="ProductDetails" asp-route-id="@product.CompanionId">@product.CompanionName</a></h6>
                                                        <h5>@string.Format("{0:C}", product.CompanionPrice)</h5>
                                            </div>
                                        </div>
                                    </div>
                        }
                    }
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- Product Section End -->

