@model User
@{
    ViewData["Title"] = "Profile";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Profile Page</title>
</head>
<body>

    <div class="container mt-4 d-flex justify-content-center align-items-center">
        <div class="d-flex">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="pe-3">
                            @{
                                string imageBase64 = Convert.ToBase64String(Model.Image);
                            }
                            <img src="data:image;base64,@imageBase64" class="rounded-circle p-1 bg-dark" width="80" height="80" alt="Category Image">
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="twit-feed">
                        <div class="media-support-body">
                            <p><b>Personal information</b></p>
                            <div class="d-flex flex-wrap mb-1">
                                <dl class="row">
                                    <dt class="col-sm-3" style="white-space: nowrap;">
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.FirstName)
                                    </dd>

                                    <dt class="col-sm-3" style="white-space: nowrap;">
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.LastName)
                                    </dd>
                                    <dt class="col-sm-3" style="white-space: nowrap;">
                                        @Html.DisplayNameFor(model => model.Role)
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.Role)
                                    </dd>
                                </dl>
                            </div>

                            <hr />

                            <div class="twit-date">
                                <p><b>Contact Information:</b></p>
                                <div class="d-flex flex-wrap mb-1">
                                    <dl class="row">
                                        <dt class="col-sm-3" style="white-space: nowrap;">
                                            @Html.DisplayNameFor(model => model.Email)
                                        </dt>
                                        <dd class="col-sm-9">
                                            @Html.DisplayFor(model => model.Email)
                                        </dd>

                                        <dt class="col-sm-3" style="white-space: nowrap;">
                                            @Html.DisplayNameFor(model => model.PhoneNumber)
                                        </dt>
                                        <dd class="col-sm-9">
                                            @Html.DisplayFor(model => model.PhoneNumber)
                                        </dd>
                                    </dl>
                                </div>
                                <hr />

                               
                                <p><b>Visa Information:</b></p>
                                <div class="d-flex flex-wrap mb-1">
                                    <dl class="row">
                                        <dt class="col-sm-3" style="white-space: nowrap;">
                                            Visa Number
                                        </dt>
                                        <dd class="col-sm-9">
                                            @if(string.IsNullOrEmpty(ViewBag.VisaNumber))
                                            {
                                                <span>There is no Visa information</span>
                                            }
                                            else
                                            {
                                                @ViewBag.VisaNumber
                                            }
                                        </dd>
                                        <dt class="col-sm-3" style="white-space: nowrap;">
                                            Expiration Date
                                        </dt>
                                        <dd class="col-sm-9">
                                            @if (ViewBag.ExpDate == null)
                                            {
                                                <span>No expiration date available</span>
                                            }
                                            else
                                            {
                                                @ViewBag.ExpDate.ToString("MM/yyyy")
                                            }
                                        </dd>

                                    </dl>
                                </div>

                            
                                <div class="mt-3 text-center">
                                    <a asp-action="EditProfile" asp-route-id="@Model.Id" class="btn btn-success">Edit profile</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
